/* IPHONE SCREEN */
@media screen and (min-device-width: 300px) and (max-device-width: 600px) and (min-device-height: 640px){
  #wrap-content {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #welcome{
    margin: 0;
    position: absolute;
    top: 0;
    margin-top: 25%;
  }
  #welcome h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
  }

  nav #brand {
    padding: 2%;
    margin-top: 2%;
  }

  nav #fighters{
   transform: scale(0.8);
   -ms-transform:     scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform:    scale(0.8);
    width: auto;
  }
  nav .hr{
    font-size: 1.5em;
  }
  #game-content{
    height: 100%;
  }
  #game-display p {
    margin: 0;
  }
  #game-display {
    position: absolute;
    top: -20%;
    height: auto ;
  }
  #game-display h2{
    margin: 0;
  }

  #game-content #actions-display {
    width: 85%;
    height: 8vh;
    top: 65%;
  }
  .ring-svg{
    transform: scale(1.6);
    -ms-transform:     scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform:    scale(1.6);
    margin-bottom: 0% !important;
    position: absolute;
    bottom: 38%;
  }
  #game-content #actions-choices {
    transform: scale(1.6);
    -ms-transform:     scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform:    scale(1.6);
    margin-top: 35%;
  }
  #game-content #actions-choices img {
    margin: 5%;
    width: 20%;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) and (min-height: 640px){
  #wrap-content {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #welcome{
    margin: 0;
    position: absolute;
    top: 0;
    margin-top: 55%;
  }

  nav #brand {
    padding: 2%;
    margin-top: 2%;
  }

  nav #fighters{
   transform: scale(0.8);
   -ms-transform:     scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform:    scale(0.8);
    width: auto;
  }
  nav .hr{
    font-size: 1.5em;
  }
  #game-content{
    height: 100%;
  }
  #game-display p {
    margin: 0;
  }
  #game-display {
    width: 90%;
    height: auto ;
    margin-bottom: 15%;
  }
  #game-display h2{
    margin: 0;
  }

  #game-content #actions-display {
    width: 80%;
    height: auto;
    position: relative;
    margin-top: 35%;
  }
  .ring-svg{
    transform: scale(1.8);
    -ms-transform:     scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform:    scale(1.8);
    margin-top: 13%
  }
  #game-content #actions-choices {
    transform:         scale(1.4);
    -ms-transform:     scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform:    scale(1.4);
    margin-top: 30%;
  }
  #game-content #actions-choices img {
    margin: 5%;
    width: 20%;
  }
}

/* MAC SCREEN */
@media screen and (min-width: 1201px) and (max-width: 1440px){
  .title{
    font-size: 2.5em;
  }
  .form-user{
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #game-content{
    margin: 0;
  }
  #game-display{
    margin:0;
  }
  #game-display p{
   margin-top: -2%;
  }
  #actions-display{
    margin-top: 10%;
  }
  .ring-svg{
    margin-top: 1%;
    transform: scale(0.9);
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 1601px) and (max-width: 1925px){
  .title{
    font-size: 2.5em;
  }
  .form-user{
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #game-content{
    margin: 0;
  }
 
  #game-display p{
   margin-top: -2%;
  }
  #actions-display{
    margin-top: 5%;
  }
  .ring-svg{
    margin-top: 1%;
    transform: scale(0.75);
    margin-bottom: 0;
  }
}