@media screen and (min-device-width: 300px) and (max-device-width: 600px) and (min-device-height: 640px){
  #wrap-content {
    width: 100%;
    overflow: hidden;
  }

  nav #brand {
    padding: 2%;
    margin-top: 2%;
  }

  nav #fighters{
   transform: scale(0.8);
   -ms-transform:     scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform:    scale(0.8);
    width: auto;
  }
  nav .hr{
    font-size: 1.5em;
  }
  #game-content{
    height: 100%;
  }
  #game-display p {
    margin: 0;
  }
  #game-display {
    position: absolute;
    top: -20%;
    height: auto ;
  }
  #game-display h2{
    margin: 0;
  }

  #game-content #actions-display {
    width: 85%;
    height: auto;
  }
  .ring-svg{
    transform: scale(1.6);
    -ms-transform:     scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform:    scale(1.6);
    margin-bottom: 0% !important;
    position: absolute;
    top: 48%;
  }
  #game-content #actions-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.6);
    -ms-transform:     scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform:    scale(1.6);
    margin-top: 0%;
  }
  #game-content #actions-choices img {
    margin: 5%;
    width: 20%;
  }
}