body {
  margin: 0;
  padding: 0;
  font-size: 1.13rem;
  font-family: sans-serif;
  background: linear-gradient(180deg, #ffd351 0.51%, rgba(248, 130, 118, 0.9) 42.3%, #bedfff 90.77%);
  background:-moz-linear-gradient(180deg, #ffd351 0.51%, rgba(248, 130, 118, 0.9) 42.3%, #bedfff 90.77%);
  background: -webkit-linear-gradient(180deg, #ffd351 0.51%, rgba(248, 130, 118, 0.9) 42.3%, #bedfff 90.77%);
  background: -moz-linear-gradient(180deg, #ffd351 0.51%, rgba(248, 130, 118, 0.9) 42.3%, #bedfff 90.77%);
  color: #ffff;
  overflow: hidden;
}

#wrap-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}
nav #brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 1vw;
  border: 2px solid #ffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
nav #fighters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 1vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav #fighters span {
  margin: 4px;
}
nav #fighters :nth-child(1), nav #fighters :nth-child(3) {
  color: #000;
  font-family: "VT323", monospace;
  font-size: 2rem;
  letter-spacing: 2px;
}

#welcome {
  margin-bottom: 20%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.form-user input{
  border: none;
  text-decoration: none;
}
#game-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  position: relative;
  padding: 0;
  margin: 0;
}
#game-content #game-display {
  position: relative;
  width: 100%;
  height: 25%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#game-content #game-display h2 {
  font-size: 3rem;
}
#game-content #actions-display {
  display: flex;
  justify-content: space-between;
  width: 40%;
  z-index: 2;
  height: 25%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#game-content #actions-display :nth-child(1n) {
  width: 25%;
  height: 8vh;
  margin-top: -50%;
}
#game-content #actions-display :nth-child(1) {
  transform: scaleX(-1);
  -ms-transform:      scaleX(-1) ;
  -webkit-transform:  scaleX(-1) ;
  -moz-transform:     scaleX(-1) ;
  height: auto;
}
#game-content #actions-display :nth-child(2) {
  transform: rotate(-20deg);
  -ms-transform:     rotate(-20deg) ;
  -webkit-transform: rotate(-20deg) ;
  -moz-transform:    rotate(-20deg) ;
  height: auto;
}
#game-content .round-title {
  width: 100%;
  padding: 1%;
  margin-bottom: 5%;
}
#game-content .round-title .name-fight {
  color: #000;
}
#game-content #actions-choices {
  width: 50%;
  height: 25%;
}
#game-content #actions-choices img {
  width: 12%;
  cursor: pointer;
  margin: 25px;
  padding: 1%;
  transition: all 100ms ease-in;
  border-radius: 100px;
  background-color: #ffff;
}
#game-content #actions-choices img:hover {
  transform: scale(1.2);
  -ms-transform:     scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform:    scale(1.2);
  
}
#game-content #actions-choices img:active {
  background-color: #3c8df1;
}

:is(.title,.round-title,.result-round) {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}

.result-round {
  font-size: 2rem;
  margin: 0;
  color: #000;
}

:is(.question,.choices-obj) {
  font-family: "Montserrat Light", sans-serif;
  margin: 0;
  margin-bottom: 5vh;
  font-size: 1.4rem;
  font-weight: 100;
}

#name {
  outline: none;
  border: none;
  width: 50%;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  text-align: center;
  background: none;
}
#name:focus, #name:active {
  background: none;
}

#btn-start-container img {
  width: 60px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin-top: 20px;
}
#btn-start-container img:hover {
  transform: scale(1.2);
  -ms-transform:     scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform:    scale(1.2);
}

#actions-display img {
  position: relative;
  top: 0;
  animation: bouncy 1s ease-in alternate infinite;
  -webkit-animation:bouncy 1s ease-in alternate infinite ;
  -moz-animation: bouncy 1s ease-in alternate infinite;
}
@keyframes bouncy {
  from {
    top: -20px;
  }
  to {
    top: 0px;
  }
}

.ring-svg {
  position: absolute;
  width: 40%;
  height: auto;
  margin-top: 5%;
  z-index: 3;
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Light", sans-serif;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10%;
}
footer img:nth-child(1) {
  width: 35px;
}
footer a {
  margin-right: 5px;
  text-decoration: none;
  color: #000;
}
footer a span:hover {
  text-decoration: underline;
}




@media screen and (min-width: 900px) {
  nav #brand {
    margin-top: 1%;
  }
} 
@media screen and (min-width: 760px) and (max-width: 1300px) {
  #welcome h1 {
    font-size: 2.5rem;
  }
  #welcome p {
    font-size:  1.5rem;
  }
  #welcome #name {
    width: 65%;
    font-size: 2rem;
  }
  #welcome #btn-start img {
    width: 60px;
    margin-top: 7%;
  }
  #welcome #btn-start img:active {
    transform: scale(0.8);
    -ms-transform:     scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform:    scale(0.8);
  }
  .ring-svg{
    margin-bottom: 15%;
  }
} 

/*# sourceMappingURL=style.css.map */
